.navbar {
  height: 16em;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 50;
  background-color: #662d91;
  color: #FFFFFF;
}

a.navbar-brand {
  padding-left: 0.2em;
}

.navbar .nav > li {
  float: left;
  font-size:15px;
  font-weight: 700;

  &:first-child {
    padding-left: 6em;
  }

  &> a {
    float: none;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 11em;
    padding-right: 5em;
    padding-bottom: 1em;
    padding-left: 1.2em;
  }
}

ul.nav-contact {
  list-style: none;
  text-decoration: none;
  padding-top: 2em;
  margin-left: 90em;

  li {
    &:not(:first-child) {
      padding-top: 1em;
      font-size: 1.4em;
    }
    &:first-child {
      font-size: 40px;
    }
    &:last-child {
      margin-left: -15em;
      margin-top: -5em;
      font-size: 13px;
      font-weight: 500;
    }
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 700;
  }
}

/* Media queries for mobile */
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    //border: 1px solid #000000;
    background-color: #662d91;
    border-color: #662d91;

    .nav-contact {
      margin-left: 0em;
      li {
        position: inherit;
      }
    }
  }
  .navbar {

    .nav > li {
      background-color: #662d91;
      float: none;
      font-size: 20px;
      text-align: center;
      position: static;

      &:first-child {
        padding-left: 0em;
      }

      & > a {
        float: none;
        color: #FFFFFF;
        font-size: 1.5em;
        text-decoration: none;
        padding-top: 0.7em;
        padding-right: 0em;
        padding-bottom: 0em;
        padding-left: 0em;
      }
    }
  }
}

@media (max-width: 1705px) {
  ul.nav-contact {
    margin-left: auto;
  }
}