.navbar {
  height: 16em;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 50;
  background-color: #662d91;
  color: #FFFFFF; }

a.navbar-brand {
  padding-left: 0.2em; }

.navbar .nav > li {
  float: left;
  font-size: 15px;
  font-weight: 700; }
  .navbar .nav > li:first-child {
    padding-left: 6em; }
  .navbar .nav > li > a {
    float: none;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 11em;
    padding-right: 5em;
    padding-bottom: 1em;
    padding-left: 1.2em; }

ul.nav-contact {
  list-style: none;
  text-decoration: none;
  padding-top: 2em;
  margin-left: 90em; }
  ul.nav-contact li {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 700; }
    ul.nav-contact li:not(:first-child) {
      padding-top: 1em;
      font-size: 1.4em; }
    ul.nav-contact li:first-child {
      font-size: 40px; }
    ul.nav-contact li:last-child {
      margin-left: -15em;
      margin-top: -5em;
      font-size: 13px;
      font-weight: 500; }

/* Media queries for mobile */
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    background-color: #662d91;
    border-color: #662d91; }
    .navbar-collapse .nav-contact {
      margin-left: 0em; }
      .navbar-collapse .nav-contact li {
        position: inherit; }
  .navbar .nav > li {
    background-color: #662d91;
    float: none;
    font-size: 20px;
    text-align: center;
    position: static; }
    .navbar .nav > li:first-child {
      padding-left: 0em; }
    .navbar .nav > li > a {
      float: none;
      color: #FFFFFF;
      font-size: 1.5em;
      text-decoration: none;
      padding-top: 0.7em;
      padding-right: 0em;
      padding-bottom: 0em;
      padding-left: 0em; } }

@media (max-width: 1705px) {
  ul.nav-contact {
    margin-left: auto; } }

.container {
  padding-top: 1em;
  z-index: 30; }

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 0; } }

img.logo {
  max-height: 950%; }

.carousel {
  margin-bottom: 0;
  margin-top: 0px;
  /* to account for fixed header nav */
  clear: both; }

.slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  /*li:first-child {
    position: relative;
    display: block;
    float: left;
  }*/ }
  .slides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    /*-webkit-transform: scale(1, 0.8);
    -moz-transform: scale(1, 0.8);
    -ms-transform: scale(1, 0.8);
    -o-transform: scale(1, 0.8);
    transform: scale(1, 0.8);*/ }

.searchButtons {
  position: absolute;
  right: 0;
  bottom: auto;
  left: 0;
  top: 400px; }

.social .row {
  padding-bottom: 1.5em;
  /*.col-md-6 > a > i {
      font-size: 10.333333em;
    }*/ }

.news {
  list-style: none;
  padding: 0;
  line-height: 1.5;
  font-size: 1.4em; }
  .news li a {
    color: #D4C9C9; }

.main h2 {
  padding-bottom: .2em; }

.home {
  padding-top: 2em; }

.latest-nav {
  margin-left: 0px;
  height: auto;
  margin-bottom: 1em; }
  .latest-nav ul {
    list-style: none;
    padding-left: 0; }
    .latest-nav ul li {
      display: inline; }
  .latest-nav .properties-head span {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.3333333;
    background-color: #333333;
    text-align: center;
    text-indent: 12px;
    padding: 10px 16px;
    border-radius: 0.5em; }

.full-width-white {
  border: 1px solid #DBDBDB;
  background-color: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 0;
  padding-left: 20px;
  margin-bottom: 30px; }
  .full-width-white .property-box, .full-width-white .col-md-3 {
    background-color: #FFFFFF;
    box-shadow: 0 0 8px #999999;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 22px;
    margin-left: 0;
    margin-right: 1.5%;
    height: 374px;
    width: 23.5%;
    position: relative; }
    .full-width-white .property-box .tick, .full-width-white .col-md-3 .tick {
      padding-left: 8px;
      font-style: normal;
      font-size: 36px;
      width: 50px;
      height: 50px;
      background: #8ac700;
      color: #FFFFFF;
      border-radius: 2em;
      float: left;
      position: absolute;
      right: 2%;
      bottom: 2%; }
      .full-width-white .property-box .tick::before, .full-width-white .col-md-3 .tick::before {
        content: '\f00c';
        font-family: FontAwesome; }
    .full-width-white .property-box .cross, .full-width-white .col-md-3 .cross {
      border: 0;
      line-height: 0;
      padding-left: 5px;
      font-style: normal;
      font-size: 36px;
      width: 50px;
      height: 50px;
      background: #c70008;
      color: #FFFFFF;
      border-radius: 2em;
      float: right;
      position: absolute;
      left: 2%;
      bottom: 2%; }
      .full-width-white .property-box .cross:before, .full-width-white .col-md-3 .cross:before {
        content: '\f00d';
        font-family: FontAwesome; }
    .full-width-white .property-box .property-box-rd, .full-width-white .col-md-3 .property-box-rd {
      font-weight: normal;
      color: #DC0030;
      margin-left: 10px;
      margin-bottom: 0px;
      border-top-width: 5px;
      border-top-style: solid;
      border-top-color: #efe7e1;
      margin-top: 4px;
      margin-right: 10px;
      line-height: 24px; }
    .full-width-white .property-box .property-box-price, .full-width-white .col-md-3 .property-box-price {
      font-weight: bold;
      color: #333333;
      margin-left: 10px;
      font-size: 14px;
      margin-top: 0px; }
    .full-width-white .property-box .property-box-priceft, .full-width-white .col-md-3 .property-box-priceft {
      font-weight: normal;
      color: #999999;
      margin-left: 10px;
      margin-bottom: 0px;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #efe7e1;
      margin-top: 0px;
      margin-right: 10px;
      line-height: 15px;
      font-size: 12px;
      padding-top: 4px;
      padding-bottom: 6px;
      min-height: 30px; }
    .full-width-white .property-box .bg-fade, .full-width-white .col-md-3 .bg-fade {
      display: inline-block;
      max-width: 300px;
      max-height: 200px;
      background-color: #FFFFFF;
      width: 92%; }
      .full-width-white .property-box .bg-fade .fade-img, .full-width-white .col-md-3 .bg-fade .fade-img {
        max-width: 300px;
        max-height: 200px;
        transition: all 1s;
        opacity: 1; }
      .full-width-white .property-box .bg-fade .property-img, .full-width-white .col-md-3 .bg-fade .property-img {
        border-right-style: solid;
        border-left-style: solid;
        border-right-color: #FFFFFF;
        border-left-color: #FFFFFF;
        width: 100%;
        margin-right: 4%;
        margin-left: 4%; }

.footer {
  position: absolute;
  bottom: 0; }

.footer-home {
  position: static; }

.skyline {
  /*background-image: url(../../layout/header-bg.gif);
  background-repeat: repeat;
  background-position: left top;*/
  width: 100%;
  background-color: #662d91;
  color: #FFFFFF; }
  .skyline .footer-tagline {
    font-size: 28px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 0px;
    text-align: center;
    color: #FFFFFF; }
  .skyline p.copyright {
    font-size: 14px;
    margin-left: 0px;
    color: #FFFFFF; }

.page-heading {
  line-height: 1; }
  .page-heading:after {
    content: '';
    display: block;
    height: 2px;
    background: #D4C9C9;
    margin: 20px auto 0; }

.subText p {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 1em; }

.property-disp-img {
  margin-top: 1em; }
  .property-disp-img img {
    max-width: 100%;
    margin-bottom: 1em; }
  .property-disp-img button {
    position: absolute;
    top: 0;
    color: #333;
    background-color: transparent;
    border-color: transparent; }

.admin-controls {
  margin-top: 1.7em; }
  .admin-controls form {
    margin-top: 0.5em; }

.contact {
  margin-top: 3em; }
  .contact form {
    margin-top: 2em; }

.nav-container {
  margin-left: 15px;
  margin-right: 15px; }

ul.faq {
  list-style: none; }
  ul.faq > li {
    padding-top: 1em;
    font-size: 15px;
    font-weight: 700; }
    ul.faq > li:nth-child(2n+1) {
      font-style: italic; }

.stars {
  display: inline-block; }
  .stars input.star {
    display: none; }
    .stars input.star:checked ~ label.star:before {
      content: '\f005';
      color: #FD4;
      transition: all .25s; }
  .stars label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s; }
    .stars label.star:hover {
      transform: rotate(-15deg) scale(1.3); }
    .stars label.star:before {
      content: '\f006';
      font-family: FontAwesome; }
  .stars input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952; }
  .stars input.star-1:checked ~ label.star:before {
    color: #F62; }

ul.stars {
  list-style: none;
  margin: 0; }
  ul.stars li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 36px; }
    ul.stars li:before {
      content: '\f006';
      font-family: FontAwesome; }
  ul.stars li.checked:before {
    content: '\f005';
    font-family: FontAwesome;
    color: #FD4; }

.delete-button {
  border: none;
  background: none; }

.home-search {
  padding-top: 0 !important;
  position: absolute !important;
  right: 0; }
  .home-search form {
    padding-left: 1em; }
    .home-search form .form-group {
      margin-right: 1em; }

.search {
  padding-top: 3em;
  padding-bottom: 6.3em; }
  .search form label {
    font-size: 2em; }

/* Media queries for mobile */
@media only screen and (max-width: 768px) {
  .full-width-white .property-box, .full-width-white .col-md-3 {
    width: 96%; }
  img.logo {
    max-height: 600%; }
  .searchButtons {
    top: 128px; }
  .home-search {
    position: inherit !important; }
  .footer {
    position: static; } }

@media only screen and (max-width: 550px) {
  .slides img {
    display: none; }
  .searchButtons {
    position: inherit; } }

/*# sourceMappingURL=app.css.map */
