// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/variables";
@import "components/navbar";
@import "components/mixins";
@import "components/container";

img.logo {
  //max-width: 50%;
  max-height: 950%;
}

.carousel {
  margin-bottom: 0;
  margin-top: 0px; /* to account for fixed header nav */
  clear: both;
  //background-image: url('http://www.harperfinn.co.uk/layout/homepage.jpg');
}

.slides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    /*-webkit-transform: scale(1, 0.8);
    -moz-transform: scale(1, 0.8);
    -ms-transform: scale(1, 0.8);
    -o-transform: scale(1, 0.8);
    transform: scale(1, 0.8);*/
  }

  /*li:first-child {
    position: relative;
    display: block;
    float: left;
  }*/
}

.searchButtons {
  position: absolute;
  right: 0;
  bottom: auto;
  left: 0;
  top: 400px;
}

.social {
  .row {
    padding-bottom: 1.5em;
    /*.col-md-6 > a > i {
      font-size: 10.333333em;
    }*/
  }
}

.news {
  list-style: none;
  padding: 0;
  line-height: 1.5;
  font-size: 1.4em;

  li {
    a {
      color: $primary-color;
    }
  }
}

.main {
  h2 {
    padding-bottom: .2em;
  }
}

.home {
  padding-top: 2em;
}

.latest-nav {
  margin-left: 0px;
  height: auto;
  margin-bottom: 1em;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline;
    }
  }

  .properties-head {
    span {
      font-size: 18px;
      color: #FFFFFF;
      line-height: 1.3333333;
      background-color: #333333;
      text-align: center;
      //display: block;
      //height: 25px;
      text-indent: 12px;
      padding: 10px 16px;
      @include rounded();
    }
  }
}

.full-width-white {
  border: 1px solid #DBDBDB;
  background-color: #FFFFFF;
  padding-top: 18px;
  padding-bottom: 0;
  padding-left: 20px;
  margin-bottom: 30px;

  .property-box, .col-md-3 {
    background-color: #FFFFFF;
    @include box-shadow(0, 0, 8px, #999999);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 22px;
    margin-left: 0;
    margin-right: 1.5%;
    height: 374px;
    width: 23.5%;
    position: relative;

    .tick {
      padding-left: 8px;
      font-style: normal;
      font-size: 36px;
      width: 50px;
      height: 50px;
      background: #8ac700;
      color: #FFFFFF;
      @include rounded(2em);
      float: left;
      position: absolute;
      right: 2%;
      bottom: 2%;

      &::before {
        content: '\f00c';
        font-family: FontAwesome;
      }
    }

    .cross {
      border: 0;
      line-height: 0;
      padding-left: 5px;
      font-style: normal;
      font-size: 36px;
      width: 50px;
      height: 50px;
      background: #c70008;
      color: #FFFFFF;
      @include rounded(2em);
      float: right;
      position: absolute;
      left: 2%;
      bottom: 2%;

      &:before {
        content: '\f00d';
        font-family: FontAwesome;
      }
    }

    .property-box-rd {
      font-weight: normal;
      color: #DC0030;
      margin-left: 10px;
      margin-bottom: 0px;
      border-top-width: 5px;
      border-top-style: solid;
      border-top-color: #efe7e1;
      margin-top: 4px;
      margin-right: 10px;
      line-height: 24px;
    }

    .property-box-price {
      font-weight: bold;
      color: #333333;
      margin-left: 10px;
      font-size: 14px;
      margin-top: 0px;
    }

    .property-box-priceft {
      font-weight: normal;
      color: #999999;
      margin-left: 10px;
      margin-bottom: 0px;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #efe7e1;
      margin-top: 0px;
      margin-right: 10px;
      line-height: 15px;
      font-size: 12px;
      padding-top: 4px;
      padding-bottom: 6px;
      min-height: 30px;
    }

    .bg-fade {
      display: inline-block;
      max-width: 300px;
      max-height: 200px;
      background-color: #FFFFFF;
      //background-image: url(../../layout/expand-bg.png);
      //background-repeat: no-repeat;
      //background-position: center center;
      width: 92%;

      .fade-img {
        max-width: 300px;
        max-height: 200px;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        opacity: 1;
      }

      .property-img {
        border-right-style: solid;
        border-left-style: solid;
        border-right-color: #FFFFFF;
        border-left-color: #FFFFFF;
        width: 100%;
        margin-right: 4%;
        margin-left: 4%;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
}

.footer-home {
  position: static;
}
.skyline {
  /*background-image: url(../../layout/header-bg.gif);
  background-repeat: repeat;
  background-position: left top;*/
  //height: 100px;
  width: 100%;
  //margin-top: 60px;
  //margin-bottom: 20px;
  background-color: #662d91;
  color: #FFFFFF;

  .footer-tagline {
    font-size: 28px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 0px;
    text-align: center;
    color: #FFFFFF;
  }

  p.copyright {
    font-size: 14px;
    margin-left: 0px;
    color: #FFFFFF;
  }
}

.page-heading {
  line-height: 1;
  //text-align: center;

  &:after {
    content: '';
    display: block;
    //width: 25%;
    height: 2px;
    background: $primary-color;
    margin: 20px auto 0;
  }
}

.subText {
  p {
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 1em;
  }
}

.property-disp-img {
  margin-top: 1em;
  img {
    max-width: 100%;
    margin-bottom: 1em;
  }

  button {
    position: absolute;
    top: 0;
    color: #333;
    background-color: transparent;
    border-color: transparent;
  }
}

.admin-controls {
  margin-top: 1.7em;

  form {
    margin-top: 0.5em;
  }
}

.contact {
  margin-top: 3em;

  form {
    margin-top: 2em;
  }
}

.nav-container {
  margin-left: 15px;
  margin-right: 15px;
}

ul.faq {
  list-style: none;

  &>li {
    padding-top: 1em;
    font-size: 15px;
    font-weight: 700;

    &:nth-child(2n+1) {
      font-style: italic;
    }
  }
}

.stars {
  display: inline-block;

  input.star {
    display: none;

    &:checked ~ label.star:before {
      content: '\f005';
      color: #FD4;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
    }
  }

  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    &:hover {
      transform: rotate(-15deg) scale(1.3);
    }

    &:before {
      content: '\f006';
      font-family: FontAwesome;
    }
  }

  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }

  input.star-1:checked ~ label.star:before {
    color: #F62;
  }
}

ul.stars {
  list-style: none;
  margin: 0;

  li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 36px;

    &:before {
      content: '\f006';
      font-family: FontAwesome;
    }
  }
  li.checked {
    &:before {
      content: '\f005';
      font-family: FontAwesome;
      color: #FD4;
    }
  }
}

.delete-button {
  border: none;
  background: none;
}

.home-search {
  padding-top: 0 !important;
  position: absolute !important;
  right: 0;

  form {
    padding-left: 1em;

    .form-group {
      margin-right: 1em;
    }
  }
}

.search {
  padding-top: 3em;
  padding-bottom: 6.3em;
  form {
    label {
      font-size: 2em;
    }
  }
}

/* Media queries for mobile */
@media only screen and (max-width: 768px) {
  .full-width-white {
    .property-box, .col-md-3 {
      width: 96%;
    }
  }

  img.logo {
    max-height: 600%;
  }

  .searchButtons {
    top: 128px;
  }

  .home-search {
    position: inherit !important;
  }

  .footer {
    position: static;
  }
}

@media only screen and (max-width: 550px) {
  .slides img {
    display: none;
  }
  
  .searchButtons {
    position: inherit;
  }


}